<header class="js--target-info">
  <h3 class="target-title">{{ target.code }} {{ target.title }}</h3>
  <div class="card-options">
    <div class="js--toggle-card">
      <svg class="icon icon-open_arrow">
        <use xlink:href="#icon-open_bigarrow"></use>
      </svg>
      <svg class="icon icon-close is-hidden">
        <use xlink:href="#icon-close"></use>
      </svg>
    </div>
  </div>
</header>

<div class="js--score-container is-closed"></div>
