<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}

    <div class="l-main-container js-blog">
      {% include header.html %}

      {% include breadcrumbs.html %}

      <div class="l-banner -section-2 -ocean-news">

        <div class="wrap -ocean-wrap">
          <h1 class="c-section-title -ocean-section-title -light">{{ page.title }}</h1>
          <!-- <p class="text text-banner-m">{{ page.intro-text }}</p> -->
        </div>
      </div>

      <div class="l-toolbar -blog">
        <div class="wrap">

          {% assign categoriesSize = site.categories | size %}
          {% unless categoriesSize == 1 %}
          <div class="c-selector">
            <div class="btn-drop-down" id="categorySelector" data-url="{{ site.baseurl }}">
              <select>
                <option value="">All categories</option>
                {% for category in site.categories %}
                  {% unless category[0] == "blog" or category[0] == "events" %}
                    <option value="{{ category | first | remove:' ' | downcase }}">
                      {{ category | first }}
                    </option>
                    {% if forloop.last %}.{% else %}, {% endif %}
                  {% endunless %}
                {% endfor %}
              </select>
            </div>
          </div>
          {% endunless %}

          <div class="c-selector">
            <div class="btn-drop-down" id="dateSelector" data-url="{{ site.baseurl }}">
              <select>
                <option value="">All dates</option>
                {% for post in site.posts %}
                  {% assign currentdate = post.date | date: "%B, %Y" %}
                  {% if currentdate != date %}

                    <option value="{{ post.date | date: '%B%Y' }}">{{ currentdate }}</option>

                    {% assign date = currentdate %}
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <!-- <button class="c-button -primary -small" id="js--share" type="button" name="share"> share</button> -->

        </div>
      </div>

      <div class="wrap">
        <div class="l-blog">
          {% for post in paginator.posts %}
            {% if post.tag != 'events' or post.tag != 'reports' %}
              {% include modules/post_list_module.html %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="l-toolbar -pagination -footer">
        <div class="wrap">
          <div class="m-controls -full -centered">
            <div class="m-pagination">
              {% if paginator.previous_page %}
                <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}/">
                  <div class="left-btn news"></div>
                </a>
              {% else %}
                <div class="left-btn news -disabled"></div>
              {% endif %}
              <span class="page-number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
              {% if paginator.next_page %}
                <a href="{{ site.baseurl }}{{ paginator.next_page_path }}/">
                  <div class="right-btn news"></div>
                </a>
              {% else %}
                <div class="right-btn news -disabled"></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      {% include footer.html %}

    </div>
    <script>
      var SITEURL = '{{ site.baseurl }}' || null;
    </script>
    <script src="{{ site.baseurl }}/js/main_bundle.js"></script>
    <script>
      // var pageName = '{{ page.page-name | json }}';
      var bannerCheck =  $('div.l-banner').hasClass('-ocean-news');

      bannerCheck && $(".chzn-container-single .chzn-single").addClass(`-ocean-news`);
      bannerCheck && $(".btn-drop-down").addClass(`-ocean-news`);

    </script>
  </body>

</html>
