<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="is-post-page">
    {% include icons.html %}

    <div class="l-main-container js-blog">
      {% include header.html %}

      <div class="m-breadcrumbs">
        <ul>
          <li><a href="{{ site.baseurl }}/"> home </a></li>
          <li><span> > </span></li>
          <li><a href="{{ site.baseurl }}/blog/"> blog </a></li>
          <li><span> > </span></li>
          <li> {{ page.title }} </li>
        </ul>
      </div>

      <!-- <div class="l-banner -section-3">
        <div class="wrap">
          <h1 class="c-section-title -light">
            {{page.title}}
          </h1>
        </div>
        <div class="details">
          <span class="date">
            <time>{{ page.date | date: '%d %b, %Y'}}</time> -
          </span>
          <span class="author">
            {{ page.author }}
          </span>
        </div>
      </div> -->

      <div class="l-hero">
        <div class="wrap">
          <div class="hero-wrapper">
            <div class="img-placeholder"></div>
          </div>
        </div>
      </div>

      <div class="l-post-title">
        <div class="wrap">
          <h1 class="post-title -light">
            {{page.title}}
          </h1>
        </div>
      </div>

      <div class="l-post">
        <div class="wrap">
          {% include modules/post_module.html %}
        </div>
      </div>

      <div class="l-toolbar -blog -center">
        <div class="wrap">

          <div class="l-share">
            <button class="c-button -primary -small" id="js--share" type="button" name="share"> share</button>
          </div>

        </div>
      </div>

     <!--  <div class="l-toolbar -pagination -footer">
        <div class="wrap">
          <div class="m-controls -full -centered">
            <div class="m-pagination">
              {% if page.previous.url%}
                <a href="{{ site.baseurl }}{{ page.previous.url }}" class="page-link"> &lt; Newer Post</a>
              {% else %}
                <span class="page-link -disabled">&lt; Newer Post</span>
              {% endif %}
              {% if page.next.url %}
                <a href="{{ site.baseurl }}{{ page.next.url }}" class="page-link"> Older post > </a>
              {% else %}
                <span class="page-link -disabled">Older post ></span>
              {% endif %}
            </div>
          </div>
        </div>
      </div> -->

      <!-- {% include modules/tag_cloud.html %} -->

      {% include footer.html %}

    </div>
    <script>
      var SITEURL = '{{ site.baseurl }}' || null;
    </script>
    <script src="{{ site.baseurl }}/js/main_bundle.js"></script>
  </body>

</html>
