<div class="layer-welcome">
  <!--<h1>GOAL<span>16</span></h1>-->
  <h1 class="text-heading-underline"><img src="../../img/logo/GOAL16_logo_white.svg" alt="logo Goal16"></h1>
  <p class="text text-banner-l">Peace, justice and strong institutions</p>
  <p class="text text-banner-m">Promote peaceful and inclusive societies for sustainable development, provide access to justice for all and build effective, accountable and inclusive institutions at all levels</p>
  <p class="text text-banner-title-s">targets</p>
  <p class="text text-banner-s">Morbi laoreet tortor ut magna volutpat, ut volutpat tortor egestas. Ut rhoncus quam a mi consectetur cursus. Curabitur hendrerit dignissim sem, tincidunt auctor dolor sagittis a.</p>
  <a href="#" class="btn-primary">get started</a>
</div>
