
<div class="m-breadcrumbs -light">
  <ul>
    <li><a href="/map">home</a></li>
    <li><span> / </span></li>
    <li><a href="/countries">countries</a></li>
    {{#if countryName}}
      <li>/</li>
      <li>{{ countryName }}</li>
    {{/if}}
  </ul>
</div>

<div class="wrap">
  <h1 class="c-section-title -light">{{ countryName }}</h1>
</div>
