<ul>
  <li><a href="/map">home</a></li>
  <li><span> > </span></li>
  <li><a href="/countries">countries</a></li>
  {{#if countryName}}
    <li><span> > </span></li>
    <li>{{ countryName }}</li>
  {{/if}}
</ul>
