<!-- compare banner -->

<!-- country selectors  -->
<div class="wrap">
  <div id="selectors-container" class="compare-countries-selectors">



  </div>

  <!-- target cards  -->
  <div class="target-list-container">

    <div class="wrap">

      <div id="target-list" class="is-hidden"></div>

    </div>

  </div>
</div>

<!-- map banner -->
