<!-- compare banner -->

<!-- country selectors  -->
<div id="compare-countries-selectors" class="compare-countries-selectors">

  <div class="wrap">

    <div class="selectors-container">

      <select class="m-selector" id="isoA" name="isoA">
        <option value=""> select country </option>
      </select>

      <select class="m-selector" id="isoB" name="isoB">
        <option value=""> select country </option>
      </select>

      <select class="m-selector" id="isoC" name="isoC">
        <option value=""> select country </option>
      </select>

    </div>

  </div>

</div>

<!-- country tables  -->

<!-- map banner -->
