<!-- compare banner -->

<!-- selectors  -->
<div class="wrap">
  <div id="selectors-container" class="compare-countries-selectors"></div>

  <!-- card list  -->
  <div id="target-list-container" class="target-list-container"></div>
</div>

<!-- map banner -->
