
<!-- selectors  -->
<div id="selectors-container" class="l-selectors"></div>

<!-- target list  -->
<div class="wrap">
  <div id="target-list-container" class="l-target-list"></div>
</div>

<div class="l-share is-hidden">
  <button class="btn-primary -small" id="js--share" type="button" name="share"> share </button>
</div>
