<!-- compare banner -->

<!-- selectors  -->
<div id="selectors-container" class="l-selectors">

</div>


<div class="wrap">
  <!-- card list  -->
  <div id="target-list-container" class="l-target-list"></div>

</div>

<!-- map banner -->
