<footer class="l-footer">
  <div class="l-menus -footer">
    <div class="wrap">
      <div class="menus-wrapper">
        <nav class="m-site-navigation -footer">
          <ul>
            <li class='link {% if page.url == "/countries.html" %} -current {% endif %}'><a href="{{ site.baseurl }}/map">explore</a></li>
            <li class='link {% if page.url == "/data.html" %} -current {% endif %}'><a href="{{ site.baseurl }}/data">data</a></li>
            <li class='link {% if page.url == "/indicators.html" %} -current {% endif %}'><a href="{{ site.baseurl }}/countries">countries</a></li>
            <li class='link {% if page.url == "/compare.html" %} -current {% endif %}'><a href="{{ site.baseurl }}/compare">compare</a></li>
            <li class='link {% if page.url == "/about.html" %} -current {% endif %}'><a href="{{ site.baseurl }}/about">about</a></li>
          </ul>
        </nav>
      </div>
        <div class="footer-info">
          <p class="text-creative-license">Creative Commons Attribution 4.0 International License
          <a class="creative-common-logo" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></p>
          <p class="text-info-vizzuality">Designed by <img src="{{site.baseurl}}/img/logo/logo_vizzuality.svg" alt="logo Goal16" class="footer-logo-vizzuality"></p>
        </div>
        <div class="footer-info-second">
          <p class="footer-powered-info">Powered by the <a>Governance Data Alliance</a><img src="{{site.baseurl}}/img/logo/gda_symbol.svg" alt="logo gda" class="footer-logo-gda"></p>
            <img src="{{site.baseurl}}/img/logo/goal16_logo_ver_pos.svg" alt="logo Goal16" class="footer-logo-goal">
        </div>
    </div>
    </div>

</footer>
