<header class="l-header show is-{{page.page-name}}">
  <div class="l-brand">
    <a class="logo-link" href="{{site.baseurl}}/map">
      <img src="{{site.baseurl}}/img/logo/goal16_logo.svg" alt="logo Goal16" class="header-logo-goal">
    </a>
  </div>

  <div class="l-menus">
    <button class="btn-mobile-menu js--open-menu">
      <svg class="icon">
        <use xlink:href="#icon-menu"></use>
      </svg>
    </button>
    <div class="menus-wrapper">
      <div class="scroll-wrapper">
        <nav class="m-site-navigation -header">
          <ul>
            <li class='link {% if page.url == "{{ site.baseurl }}/map/" %} selected-option-menu {% endif %}'><a href="{{ site.baseurl }}/map/">explore</a></li>
            <li class='link {% if page.url == "{{ site.baseurl }}/data/" %} selected-option-menu {% endif %}'><a href="{{ site.baseurl }}/data/">data</a></li>
            <li class='link {% if page.url == "{{ site.baseurl }}/countries/" %} selected-option-menu {% endif %}'><a href="{{ site.baseurl }}/countries/">countries</a></li>
            <li class='link {% if page.url == "{{ site.baseurl }}/compare/" %} selected-option-menu {% endif %}' ><a href="{{ site.baseurl }}/compare/">compare</a></li>
            <li class='link {% if page.url == "{{ site.baseurl }}/about/" %} selected-option-menu  {% endif %}'><a href="{{ site.baseurl }}/about/">about</a></li>
          </ul>
        </nav>

        <div class="m-social-share -header">
          <ul>
            <li class="icon -twitter">
              <a href="https://twitter.com/@GovDataAlliance">
                <svg class="icon">
                  <use xlink:href="#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
