<div class="l-post -list {% unless post.image == '' %} -img {% endunless %}" data-date="{{ post.date | date: '%B%Y' }}" data-category="{{ post.category }}">
  <div class="m-post {% unless post.image == '' %} -light {% endunless %}">
      <a class="reports-post" href="{{ site.baseurl }}{{ post.url }}">
        <div class="news-thumbnail -reports">
          <div class="img-placeholder -reports" {% unless post.image == '' %} style="background-image:url({{site.baseurl}}/img/blog/{{post.image}})" {% endunless %}></div>
        </div>
        <div class="news-details -reports">
          <!-- <div class="-date events">{{ post.date | date: '%d-%m-%Y'}}</div> -->
          <div class="-title">{{ post.title }}</div>
          <!-- <div class="-summary ellipsis">{{post.summary ? post.summary | post.excerpt}}</div> -->
          <div class="-link reports">Read more ></div>
        </div>
      </a>
    </div>
</div>
