@media print {

  .l-footer,
  .l-menus,
  .l-highlight,
  .l-share,
  .no-printable,
  .m-breadcrumbs,
  .btn-info,
  .icon-close,
  .icon-open_arrow,
  .c-button,
  .js--icon-open,
  .js--icon-close,
  .btn-drop-down:after {
    display: none !important;
  }

  .l-banner:before {
    display: none !important;
    background-image: none;
  }

  .c-section-title {
    font-size: rem(30px);
  }

  //COUNTRY PAGE
  .c-target-card .card-container {
    display: flex;
    justify-content: space-between;
    padding-top: rem(30px);
  }

  .m-card--indicators {
    width: 48%;
  }

  .l-grid.-partners {
    display: flex;
    flex-wrap: wrap;
    border-top: 0.0625rem solid #e5eaea;
    border-bottom: 0.0625rem solid #e5eaea;
  }

  .m-card--indexes {
    max-width: 50%;
    border-left: 0.0625rem solid #e5eaea;
  }


  // //COMPARE PAGE
  // .l-banner.-section-2 {
  //   background-image: none;
  //   background-color: $bg-color-4;
  //   border-bottom: 1px solid $border-1;
  // }

  // .l-toolbar.-selectors.-fixed {
  //   position: static;
  //   width: auto;
  // }

  // .l-content.-fixed {
  //   margin-top: 0;
  // }

  // .m-comparison-table h3 {
  //   font-size: rem(16px);
  //   font-weight: 600;
  // }

  // .m-comparison-table .table-cell {
  //   height: rem(150px) !important;
  //   font-size: 25px;
  // }

  // .m-comparison-table > .-score .table-cell {
  //   height: rem(150px);
  //   font-size: 25px;
  // }

  // .m-year-selector > .-index {
  //   display: flex !important;
  // }

  // .m-year-selector.-compare {
  //   flex: 1 1 auto;

  //   &.-index {
  //     display: flex;
  //     width: 30.1%;
  //   }

  //   &.-score {
  //     width: 23.33%;
  //     padding: 10px 1%;
  //   }
  // }

  // infowindow
  .m-modal-window {
    display: none;
  }

}
