/*
 * Add here values that
 * affect the whole proyect
 */

$header-height-desktop: 80px;
$header-height: 70px;
$button-height: 40px;

////////////////////
//**** Screen ****//
////////////////////
$screen-xs: 320px;
$screen-s: 640px;
$screen-m: 769px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1300px;


////////////////////
//****  Grid  ****//
////////////////////
$grid-max-width: 1400px;
$wrap-padding-mobile: 20px;
$wrap-padding-tablet: 30px;
$wrap-padding-desktop: 40px;
$wrap-padding-desktop-xl: 90px;
$content-width: 80%;
$content-width-xl: 90%;

////////////////////
//**** Layout ****//
////////////////////
$dashboard-width: 400px;

////////////////////
//**** Fonts ****//
////////////////////
$font-family-primary: 'Merriweather Sans', sans-serif;
$font-family-secondary: 'Lora',  serif;
$font-family-title: 'Merriweather', serif;

$font-size-xxlarge: 70px;
$font-size-xlarge: 55px;
$font-size-large2: 41px;
$font-size-large: 27px;
$font-size-medium: 19px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$font-size-xxsmall: 10px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;


////////////////////
//**** Colors ****//
////////////////////


// delete these colors
$beige: #beb7aa;
$beige-medium: #eceae8;
$beige-light: #f4f3f2;
$turquoise: #39a1b2;
$brown: #42352b;
$magenta: #97102c;
$yellow: #e9b33b;
$dark-green: #63A850;
$green: #AEB44D;
$celeste: #49c9de;
$orange: #cd8200;
$blue: #5883b4;
$dark-sky-blue: #55cee2;
$black: #333;
$deep-black: #000000;

// GOAL16
$blue-topaz: #19aec4;
$blue-topaz-two: #11b6ce;
$seafoam-blue:#87d0da;
$blue-evergreen: #073339;
$blue-grey: #a1babd;
$blue-green: #156975;
$pale-grey: #f6faf9;
$soft-green: #82bf72;
$pale-olive-green: #94d582;
$tree-green: #31871b;
$mint-green: #e5f1e1;
$turquoise: #04beb0;
$bluish-grey: #809497;
$silver: #e5eaea;
$light-grey: #edf2f1;
$white: #fff;

$dark-grey: #9b9b9b;
$grey: #b4b6b6;
$light-grey: #e5eaea;
$light-grey-two: #eeedea;

// New Goal16 colours
$fountain-blue: #57BAB0;
$dark-aqua: #176875;
$ball-blue: #20ADC5;
$gainsboro: #DBDCDD;

//Legend
$bucket-1: #1f301f;
$bucket-2: #345335;
$bucket-3: #557b57;
$bucket-4: #85c088;
$bucket-5: #cce5ca;

$bucket-border-1: #121c12;
$bucket-border-2: #243b24;
$bucket-border-3: #466748;
$bucket-border-4: #7bb67d;
$bucket-border-5: #c2dac0;

//Theme colors
$color-1: $blue-topaz;
$color-2: $blue-evergreen;
$color-3: $blue-grey;
$color-4: $blue-green;
$color-5: $soft-green;
$color-6: $pale-grey;
$color-7: $turquoise;
$color-8: $silver;
$color-9: $light-grey;
$color-10: $white;
$color-11: $seafoam-blue;

// background colors
$bg-page: #F7FAF9;
$bg-veil: rgba(14, 29, 42, .6);
$bg-color-1: $pale-grey;
$bg-color-2: $brown;
$bg-color-3: $beige;
$bg-color-4: $beige-medium;
$bg-color-5: $light-grey;

//Font colors
$font-color-1: $blue-evergreen;
$font-color-2: $white;
$font-color-3: $blue-topaz;
$font-color-4: $dark-grey;
$font-color-5: $soft-green;
$font-color-6: $black;
$font-color-7: $bluish-grey;
$font-color-8: $blue-topaz-two;
$font-color-9: $turquoise;
$font-color-10: $mint-green;
$font-color-11: $tree-green;
$font-color-12: $deep-black;
$font-color-13: $dark-aqua;


//border-colors
$border-1: $color-5;
$border-2: $bluish-grey;
$border-3: $silver;
$border-4: $seafoam-blue;
$border-5: $light-grey;
