
<header>

    <h2>{{ cardOptions.code }} - {{ cardOptions.title }}</h2>

    <div class="card-options">
      <span class="more-info">i</span>
      <div class="toggle-card">x</div>
    </div>

</header>
<div class="indicators-table">
  <span>lots of indicators here (WIP)</span>
</div>
