
<header>

    <h2>{{ target.code }} - {{ target.title }}</h2>

    <div class="card-options">
      <span class="more-info">i</span>
      <div class="toggle-card">x</div>
    </div>

</header>
<div class="indicators-table"></div>
