.m-breadcrumbs {
  @extend %wrap;
  position: relative;
  text-align: center;
  ul{
    list-style: none;
    display: block;
    width: rem(75px);
    margin: 0 auto;
    li,a,span{
      float:left;
      color: #fff;
      font-size: $font-size-xxsmall;
      font-weight: 400;
      letter-spacing: 0.5px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  a{
    cursor: pointer;
    &:hover{
      text-decoration: underline;;
    }
  }
}
