.m-breadcrumbs {
  @extend %wrap;
  position: relative;
  text-align: center;
  a {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
  }
  span {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
  }
  @media screen and (min-width: $screen-m) {
  }
}
