.m-breadcrumbs {
  @extend %wrap;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  height: 2rem;

  @media screen and (min-width: $screen-s) {
    height: 3rem;
  }

  ul{
    list-style: none;
    display: block;
    // margin: 0 auto;



    li,a,span{
      float:left;
      color: $black;
      font-size: $font-size-xxsmall;
      font-weight: 400;
      letter-spacing: 0.5px;
      text-align: center;
      text-transform: uppercase;
    }

    a {
      color: $dark-aqua;
    }

    span.-active {
      color: $dark-aqua;
    }

    > li:nth-child(even) {
      margin: 0 rem(5px);
    }
  }
  a{
    cursor: pointer;
    &:hover{
      text-decoration: underline;;
    }
  }
}
