.m-card--indexes {
  width: 100%;
  padding: rem(30px) rem(17px) rem(36px);
  border-bottom: rem(1px) solid $border-3;

  background-color: $color-6;
  &:last-child {
    border-bottom: 0;
  }
  .index-description {
    @include col(6);
    display: block;
    flex-basis: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    > .name {
      cursor: pointer;
      font-size: rem(30px);
      font-weight: 400;
      line-height: 32px;
      font-family: $font-family-secondary;
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
      line-height: 1.4;
      letter-spacing: 0.3px;

      @media screen and (min-width: $screen-s) {
        font-size: $font-size-large;
      }
    }

    > .description {
      font-size: rem(15px);
    }

    > .organization {
      font-family: $font-family-primary;
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      line-height: 1.90;
      margin-top: rem(11px);
      color: $font-color-6;

      @media screen and (min-width: $screen-s) {
        font-size: $font-size-normal;
        line-height: 1.75;
        margin-top: rem(12px);
      }
    }

    span {
      display: flex;
      height: rem(60px);
      width: 50%;
      max-width: rem(183px);
      background-position: top left;
      background-size: contain;;
      background-repeat: no-repeat;
      display: block;
      margin-bottom: rem(28px);
      // display: none;/*Img organizations*/

      @media screen and (min-width: 768px) {
        height: rem(85px);
        background-position: 50%;
        width: rem(148px);
        max-width: rem(148px);
        display: block;
        margin-bottom: rem(18px);
      }
    }

    &:hover {
      .name {
        color: $color-4;
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    // align-items: center;
    justify-content: space-between;
    float: left;
    width: 50%;
    height: rem(870px);
    padding: rem(50px) rem(76px) rem(72px)rem(74px);

    .img {
      height: rem(40px);
      margin-bottom: rem(28px);
    }

    &:nth-child(2n) {
      justify-content: flex-start;
      .index-description {}
    }

    &:nth-child(2n + 1) {
      justify-content: flex-end;
      border-right: rem(1px) solid $border-3;
      .index-description {}
    }

    &:nth-last-child(2) {
      border-right: 0;
      border-bottom: 0;
    }

    &:nth-child(2n) {
      border-bottom: rem(1px) solid $border-3;
    }

    &:last-child {
      border-bottom: 0;
      border-right: rem(1px) solid #e5eaea;
    }
  }
  @media screen and (min-width: $screen-l) {
    height: rem(570px);
  }
  @media screen and (min-width: $screen-xl) {

    }
}
