.m-card--indexes {
  width: 100%;
  padding: rem(30px) rem(17px) rem(36px);
  border-bottom: 1px solid $border-3;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-color: $color-6;
  &:last-child {
    border-bottom: 0;
  }
  .index-description {
    @include col(6);
    display: block;
    flex-basis: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    > .name {
      cursor: pointer;
      font-size: rem(30px);
      font-weight: 400;
      line-height: 32px;
      margin-bottom: rem(7px);
      font-family: $font-family-secondary;
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
      line-height: 1.4;
      letter-spacing: 0.3px;
      margin-top: rem(22px);
      @media screen and (min-width: $screen-s) {
        font-size: $font-size-large;
        margin-top: rem(28px);
      }
    }
    > .description {
      font-size: rem(15px);
    }
    > .organization {
      font-family: $font-family-primary;
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      line-height: 1.90;
      margin-top: rem(11px);
      color: $font-color-6;
      @media screen and (min-width: $screen-s) {
        font-size: $font-size-normal;
        line-height: 1.75;
        margin-top: rem(12px);
      }
    }
    span {
      display: flex;
      height: rem(60px);
      width: 50%;
      background-position: top left;
      background-size: contain;;
      background-repeat: no-repeat;
      @media screen and (min-width: 768px) {
        height: rem(100px);
        background-position: 50%;
        width: 100%;
      }
    }
    &:hover {
      .name {
        color: $color-4;
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding: rem(50px) rem(72px) rem(72px);
    width: 50%;
    float: left;
    justify-content: space-between;
  }
  @media screen and (min-width: $screen-m) {
    .img {
      height: rem(40px);
    }
    &:nth-child(2n) {
      justify-content: flex-start;
      .index-description {}
    }
    &:nth-child(2n + 1) {
      justify-content: flex-end;
      border-right: 1px solid $border-3;
      .index-description {}
    }
    &:nth-last-child(2) {
      border-right: 0;
      border-bottom: 0;
    }
    &:nth-child(2n) {
      border-bottom: 1px solid $border-3;
    }
    &:last-child {
      border-bottom: 0;
      border-right: 0;
    }
    &:nth-child(2n + 1) {
      border-right: 1px solid $border-3;
    }
  }
}
