.m-data-target {
  padding-top: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    // padding: rem(50px) rem(180px) rem(80px);

    // .c-title-underline {
    //   max-width: 70%;
    //   margin: 0 auto rem(60px);
    // }
  }

  > .js--toggle-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(20px);
    border-bottom: rem(1px) solid rgba($gainsboro, 1);
    cursor: pointer;
    @media screen and (min-width: $screen-m) {
    padding-bottom: rem(30px);
  }
  }

  > .js--toggle-header > .target-title {
    flex-basis: 70%;

    font-size: $font-size-normal;
    line-height: 1.4;
    color: $font-color-1;

    @media screen and (min-width: $screen-m) {
      flex-basis: 75%;

      font-size: $font-size-medium;
    }
  }

  > .js--toggle-header > .card-options {
    > .js--toggle-card {
      position: relative;

      transform: translate(0, rem(5px));
      cursor: pointer;
    }
  }
}

.js--indicators-wrapper {
  height: 100%;
  max-width: 100%;

  @media screen and (min-width: $screen-m) {
    max-width: 90%;
  }

  &.is-closed {
    height: 0;

    visibility: hidden;
  }
}

.m-data-indicator {
  padding-top: rem(20px);
  // border-bottom: rem(1px) solid rgba($gainsboro, 1);

  p{
    word-break: break-word;
  }

  // &:first-child {
  //   padding-top: 20px;
  // }

  @media screen and (min-width: $screen-m) {
    // padding-bottom: rem(30px);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(10px);
    border-bottom: rem(1px) solid rgba($gainsboro, 1);
    cursor: pointer;
    align-items: baseline;

    @media screen and (min-width: $screen-m) {
      padding-bottom: rem(20px);
      align-items: center;
    }
  }

  .indicator-info {
    padding: rem(20px) 0;
    max-width: 100%;

    // @media screen and (min-width: $screen-xl) {
    //   max-width: $content-width;
    // }

    @media screen and (min-width: $screen-m) {
      padding: rem(30px) 0;
      width: 100%;
      max-width: 80%;
      // margin: 0 auto;
    }

    p + p {
      margin-top: rem(30px);
    }
  }

  .indicator-info > .indicator-metadata {
    margin-top: rem(30px);

    font-size: $font-size-xsmall;
    line-height: 1.7;


    ul > li > span {
      color: rgba($deep-black, 0.8);
      font-weight: bold;

      &:not(.key-item) {
        margin-right: rem(35px);

        &:last-child {
          margin: 0;
        }
      }
    }

    ul > li a {
      font-size: $font-size-xsmall;
      color: $dark-aqua;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
