.m-dashboard-target {
  padding: rem(15px);
  padding-right: rem(35px);
  border-bottom: rem(1px) solid $border-3;
  cursor: pointer;

  &:hover {
    background-color: $bg-color-1;
  }

  @media screen and (min-width: 768px) {
    padding: rem(25px);
  }

  .header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
    cursor: pointer;

    .btn-wrapper {
      position: absolute;
    }

    .btn-open-target,
    .btn-close-target {
      position: absolute;
      top: rem(10px);
      left: 0;
      z-index: 1;
      width: rem(16px);
      height: rem(16px);
      line-height: rem(16px);
      border-radius: 50%;
    }

    .btn-close-target {
      transform: rotate(45deg);
    }

    .btn-open-target {
      display: block;
    }

    .btn-close-target {
      display: none;
    }

    input {
      visibility: hidden;

      &:checked + label .target-title {
        background-color: $white;
        color: $font-color-1;
      }
    }
  }

  .target-title {
    width: 100%;
    padding: rem(5px);
    margin-left: rem(25px);

    font-size: rem($font-size-xsmall);
    font-weight: $font-weight-regular;
    color: $font-color-3;
    line-height: 1.6;

    &.is-active {
      color: $font-color-1;

      background-color: $color-10;
    }

    // check if this really works, actually it affects
    // every browser, not only IE10
    @media screen and (min-width: $screen-s) {
      max-width: rem(296px); /*IE10 FIX*/
      width: rem(296px); /*IE10 FIX*/

      word-wrap: break-word; /*IE10 FIX*/
      white-space: pre-line; /*IE10 FIX*/
    }

    @media screen and (min-width: 768px) {
      font-size: rem($font-size-small);
      line-height: 1.8;
    }
  }

  &.is-open {
    background-color: $bg-color-1;

    .btn-open-target {
      display: none;
    }

    .btn-close-target {
      display: block;
    }
  }

  .icon-minus,
  .icon-open {
    width: 100%;
    height: 100%;
    fill: $color-1;
  }
}
