.m-data-target {
  padding: rem(45px) 0 0;

  @media screen and (min-width: $screen-l) {
    padding: rem(45px) rem(90px) 0;

    .c-title-underline {
      max-width: 70%;
      margin: 0 auto rem(60px);
    }
  }
}

.m-data-indicator {
  padding-bottom: rem(20px);
  p{
    word-break: break-word;
  }

  @media screen and (min-width: $screen-m) {
    padding-bottom: rem(30px);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(5px);
    border-bottom: rem(1px) solid $border-2;
    cursor: pointer;
    align-items: baseline;

    @media screen and (min-width: $screen-m) {
      padding-bottom: rem(15px);
      align-items: center;
    }
  }

  .indicator-info {
    padding: rem(30px);

    @media screen and (min-width: 768px) {
      padding: rem(30px) rem(100px);
    }

    p + p {
      margin-top: rem(30px);
    }
  }

  .indicator-info > .indicator-metadata {
    margin-top: rem(30px);

    font-size: $font-size-xsmall;
    line-height: 1.7;


    ul > li > .key-item {
      color: $font-color-7;

      & + span  {
        margin-right: rem(35px);

        &:last-child {
          margin: 0;
        }
      }
    }

    ul > li a {
      font-size: $font-size-xsmall;
    }
  }
}
