.m-dashboard-target {
  padding: rem(15px);
  padding-right: rem(35px);
  border-bottom: rem(1px) solid $border-3;
  cursor: pointer;

  &:hover {
    background-color: $bg-color-1;
  }

  @media screen and (min-width: 768px) {
    padding: rem(25px);
  }

  .header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
    cursor: pointer;

    .btn-wrapper {
      position: absolute;
    }

    .btn-open-target,
    .btn-close-target {
      position: absolute;
      top: rem(10px);
      left: 0;
      z-index: 1;
      width: rem(16px);
      height: rem(16px);
      line-height: rem(16px);
      border-radius: 50%;
    }

    .btn-close-target {
      transform: rotate(45deg);
    }

    .btn-open-target {
      display: block;
    }

    .btn-close-target {
      display: none;
    }

    input {
      visibility: hidden;

      &:checked + label .target-title {
        background-color: $white;
        color: $font-color-1;
      }
    }

    .target-title {
      margin-left: rem(26px);
      padding: rem(5px);
      font-size: rem($font-size-xsmall);
      line-height: rem(19px);
      color: $font-color-3;
      font-family: $font-family-primary;
      font-weight: $font-weight-regular;
      cursor: pointer;
      width: 100%;
      @media screen and (min-width: $screen-s) {
      word-wrap: break-word;/*IE10 FIX*/
      white-space: pre-line;/*IE10 FIX*/
      max-width: rem(296px);/*IE10 FIX*/
      width: rem(296px);/*IE10 FIX*/
    }

      &.is-active {
        color: $font-color-1;
        background-color: $white;
      }

      @media screen and (min-width: 768px) {
        font-size: rem($font-size-small);
        line-height: rem(25px);
      }
    }

  }

  &.is-open {
    background-color: $bg-color-1;

    .btn-open-target {
      display: none;
    }

    .btn-close-target {
      display: block;
    }
  }

  .icon-minus,
  .icon-open {
    width: 100%;
    height: 100%;
    fill: $color-1;
  }
}
