.m-dashboard-target {
  padding: rem(25px);
  padding-right: rem(35px);
  border-bottom: rem(1px) solid $border-3;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .btn-wrapper {
      position: absolute;
    }

    .btn-open-target,
    .btn-close-target {
      position: absolute;
      top: rem(10px);
      left: 0;
      z-index: 1;
      width: rem(16px);
      height: rem(16px);
      line-height: rem(16px);
      border-radius: 50%;
      border: rem(2px) solid $color-1;
    }

    .btn-open-target {
      display: block;
    }

    .btn-close-target {
      display: none;
    }

    input {
      visibility: hidden;

      &:checked + label .target-title {
        background-color: $white;
        color: $font-color-1;
      }
    }

    .target-title {
      margin-left: rem(26px);
      padding: rem(5px);
      font-size: rem($font-size-small);
      line-height: rem(25px);
      color: $font-color-3;
      font-family: $font-family-primary;
      font-weight: $font-weight-regular;

      &.is-active {
        color: $font-color-1;
        background-color: $white;
      }
    }

  }

  &.is-open {
    background-color: $bg-color-1;

    .btn-open-target {
      display: none;
    }

    .btn-close-target {
      display: block;
    }
  }

  .icon-minus,
  .icon-open {
    width: rem(8px);
    height: rem(13px);
    fill: $color-1;
  }
}

