.m-list {
  .open-menu {
    width: 10px;
    float: right;
    height: 10px;
    margin-left: auto;
    position: relative;
    top: 10px;
    fill: $color-1;
  }
  .lists-container {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    ul {
      float: left;
      display: block;
      text-align: left;
      width: 50%;
      margin-top: rem(15px);
      @media screen and (min-width: $screen-s) {
        width: 33%;
        text-align: center;
        margin-top: rem(50px);
        padding-left: rem(25px);
        padding-right: rem(25px);
      }
      li {
        margin-right: rem(10px);
        line-height: 1.46;
        @media screen and (min-width: $screen-s) {
          line-height: 2.13;
        }
        a {
          font-size: $font-size-xsmall;
          color: $font-color-3;
          @media screen and (min-width: $screen-s) {
            font-size: $font-size-normal;
          }
        }
      }
    }
  }
  h2{
    color: $font-color-6;
    text-align: left;
    font-weight: font-weight-regular;
    font-size: $font-size-medium;
    line-height: 1.4;
    letter-spacing: 0.3px;
    margin-top: rem(14px);
    margin-bottom: rem(0px);
    @media screen and (min-width: $screen-s) {
      font-size: $font-size-large;
      font-weight: font-weight-regular;
      margin-top: rem(95px);
      margin-bottom: rem(0px);
      text-align: center;
      &:after {
        content: "";
        display: block;
        height: rem(3px);
        background-color: $blue-topaz;
        margin: rem(40px) auto 0;
        width: rem(37px);
      }
    }
  }
}
.list-visible {
  .wrap {
    .m-list {
      h2 {
        .open-menu {
          display: block;
        }
      }
      .lists-container {
        ul {
          display: block;
        }
      }
    }
  }
  @media screen and (min-width: $screen-s) {
    .wrap {
      .m-list {
        h2 {
          .open-menu {
            display: none;
          }
        }
        .lists-container {
          ul {
            display: block;
          }
        }
      }
    }
  }
}
.list-no-visible {
  cursor: pointer;
  padding-bottom: rem(14px) !important;
  .wrap {
    .m-list {
      h2 {
        .open-menu {
          display: block;
        }
      }
      .lists-container {
        ul {
          display: none;
        }
      }
    }
  }
  @media screen and (min-width: $screen-s) {
    padding: 0 0 rem(90px);
    .wrap {
      .m-list {
        h2 {
          .open-menu {
            display: none;
          }
        }
        .lists-container {
          ul {
            display: block;
          }
        }
      }
    }
  }
}
