.m-mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 90%;
  background-color: $color-5;
  transition: all 0.3s ease-in 0.2s;
  transform: translatex(100%);
  .m-social-share{
    margin: rem(100px) auto;
    margin-bottom: 0px;
    svg{
      fill:$white;
    }
  }
  .m-site-navigation {
    ul {
      li {
        border-bottom: 0px !important;
        margin-top: rem(36px);
        &:first-child{
          margin-top: rem(58px);
        }
        &:after{
          content: '';
          display: block;
          width: rem(35px);
          height: rem(3px);
          background-color: #a5dd96;
          margin: rem(16px) auto;
          margin-bottom: 0px;
        }
        a {
          font-weight: $font-weight-bold;
          font-size: $font-size-normal !important;
          letter-spacing: 0.9px;
          text-align: center;
          font-family: $font-family-primary;
          text-transform: uppercase;
          color: $font-color-2 !important;
        }
      }
    }
  }
  .scroll-wrapper {
    position: absolute;
    top: rem(60px);
    bottom: rem(60px);
    left: 0;
    right: 0;
    padding: 0 rem(40px);
    overflow-y: auto;
  }
  .link:first-child {
    a {}
  }
  &.is-open {
    transform: translatex(0);
    transition: all 0.3s ease-in 0.2s;
  }
}
.menu-background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: #000;
  opacity: 0.5;
  &.is-open {
    display: block;
  }
}
