.m-modal-window {
  display: flex;
  display: -ms-box;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  &.-disclaimer {
    top: 20%;
    bottom: 20%;

    @media screen and (min-width: 768px) {
      top: 0;
      bottom: 0;
      right: 0;
      left: $dashboard-width;
    }
  }
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: $white;
  opacity: 0.9;

  .-disclaimer & {
    display: none;
  }
}

.modal-wrapper {
  box-sizing: border-box;
  display: flex;
  display: -ms-box;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 14;
  width: 90%;
  max-height: 90%;
  padding-top: rem(45px);
  padding-bottom: rem(50px);
  margin: auto;
  box-shadow: 0 0 60px 0 rgba(7, 51, 56, 0.15);
  overflow: auto;
  background-color: $white;

  &.-share_window{
    @media screen and (min-width: 768px) {
      max-width: rem(920px);
    }
  }

  @media screen and (min-width: $screen-l) {
    width: 80%;
    padding: rem(80px) 0;
  }

  .-disclaimer & {
  }
}

.modal-content {
  width: 100%;

   .-indicator {
     .info-wrapper{
       word-break: break-all;
     }

    .indicator-metadata {
      display: flex;
      flex-direction: column;

      margin-top: rem(5px);

      .indicator-score-range,
      .indicator-units,
      .indicator-year {
        font-size: rem($font-size-xsmall);
        color: $font-color-7;
      }
    }

    .indicator-metadata {
      margin-top: rem(30px);

      font-size: $font-size-xsmall;
      line-height: 1.7;


      ul > li > .key-item {
        color: $font-color-7;

        & + span  {
          margin-right: rem(35px);

          &:last-child {
            margin: 0;
          }
        }
      }

      ul > li a {
        font-size: $font-size-xsmall;
      }
    }
  }
}

.modal-container {
  display: flex;
  display: -ms-box;
  align-items: flex-start;
  width: 100%;
  padding: 0 rem(20px);
  overflow: auto;
  margin-top: rem(18px);

  @media screen and (min-width: $screen-l) {
    padding: 0 rem(90px);
  }

  p {
    font-family: $font-family-primary;
    font-size: $font-size-xsmall;
    font-weight: $font-weight-regular;
    line-height: rem(25px);
    margin-top: rem(30px);
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;

    a {
      font-size: $font-size-xsmall;
    }

    @media screen and (min-width: 768px) {
      font-size: $font-size-normal;
      line-height: rem(28px);
    }
  }
}

.btn-close-modal {
  @extend .btn-close;
  color: $color-7 !important;

  @media screen and (min-width: 768px) {
    margin: rem(40px);
  }
}
