.leaflet-top {
  top: rem(30px);
  right: rem(15px);
  left: auto;
  z-index: 1;

  @media screen and (min-width: 768px) {
    top: rem(40px);
    right: rem(30px);
    left: auto;
  }
}

.leaflet-left .leaflet-control {
  margin: 0;
}

.leaflet-bar {
  box-shadow: none;
}

.leaflet-bar a, .leaflet-control-layers-toggle {
  background: none;
}

.leaflet-bar a:first-child,
.leaflet-bar a:last-child {
  display: flex;
  justify-content: center;
  align-items: center;

  width: rem(40px);
  height: rem(40px);

  font-size: rem(20px);
  color: $color-5;

  border: 0;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  background-color: $white;
  box-shadow: 0 0 rem(8px) 0 rgba(7, 51, 56, 0.3);

}

.leaflet-bar a:last-child {
  margin-top: rem(5px);
  font-size: rem(25px);
}

.leaflet-control-attribution {
  padding: 0;
}

.leaflet-bottom {
  bottom: rem(50px);

  z-index: 1;

  font-size: rem($font-size-xxsmall);

  a {
    font-size: rem($font-size-xxsmall);
  }

  @media screen and (min-width: 768px) {
    right: rem(30px);
    padding: 0;
    bottom: rem(10px);
  }
}
