.m-modal-window {
  display: flex;
  display: -ms-box;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: $white;
  opacity: .9;
}

.modal-wrapper {
  box-sizing: border-box;
  display: flex; display: -ms-box;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 14;
  margin: auto;
  overflow: auto;
  background-color: $white;
  box-shadow: 0 0 60px 0 rgba(7, 51, 56, 0.15);

  @media screen and (min-width: $screen-s) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 90%;
    max-width: rem(690px);
    max-height: rem(446px);
  }

  @media screen and (min-width: $screen-l) {
    max-width: rem(750px);
    max-height: rem(5446px);
  }

  @media screen and (min-width: $screen-l) {
    max-width: rem(1000px);
    max-height: rem(446px);
  }
}

.modal-content {
  width: 100%;
}

.modal-container {
  display: flex;
  display: -ms-box;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  padding: 0 rem(92px);
  overflow: auto;

  @media screen and (min-width: $screen-s) {
  }

  @media screen and (min-width: $screen-l) {
    // bottom: rem(115px);
  }

  h2 {
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
    text-transform: capitalize;
    margin-top: rem(80px);
    &:after{
      content: '';
      display: block;
      height: 3px;
      border: 0px;
      background-color: $color-1;
      width: 37px;
      margin-top: rem(30px);
    }

    @media screen and (min-width: $screen-s) {
      font-size: $font-size-large;
      font-weight: $font-weight-regular;
      text-transform: capitalize;
      margin-top: rem(80px);
    }
  }
  p{
  font-family: $font-family-primary;
  font-size: $font-size-normal;
  font-weight: $font-weight-regular;
  line-height: 1.75;
  margin-top: rem(30px);
  }
}

.btn-close-modal {
  @extend .btn-close;
  color: $color-7 !important;
}
