.m-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  box-shadow: 0 0 60px 0 rgba(7, 51, 56, 0.15);
  right: 0;
  z-index: 30;
  background-color: $white;
  padding-top: rem(40px);

  @media screen and (min-width: 768px) {
    position: relative;
    top: 0;
    transform: translate(0%, 0%);
    left: 0;
    right: auto;
    height: rem(300px);
    min-height: rem(100px);
    min-width: rem(430px);
    padding: rem(25px) 0;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      bottom: rem(-10px);
      width: 0;
      height: 0;
      border-left: rem(10px) solid transparent;
      border-right: rem(10px) solid transparent;
      border-top: rem(10px) solid $white;
    }
  }

  .scroll-wrapper {
    position: absolute;
    top: rem(75px);
    bottom: rem(80px);
    padding: 0 rem(20px);
    overflow: scroll;
    
    @media screen and (min-width: 768px) {
      bottom: rem(75px);
      padding: 0 rem(25px);
      overflow-x: hidden;
      max-width: rem(430px);
    }
  }

  .btn-close {
    margin-top: rem(13px);
    margin-right: rem(13px);

    @media screen and (min-width: $screen-s) {
      margin-top: rem(20px);
      margin-right: rem(20px);
    }
  }

  .c-score-popup {
    text-align: center;
    color: $font-color-9;
    font-weight: $font-weight-regular;
    font-family: $font-family-secondary;
    font-size: $font-size-xlarge;
    letter-spacing: rem(0.7px);
    margin-top: rem(62px);
    margin-bottom: rem(76px);

    @media screen and (min-width: $screen-s) {
      margin: rem(40px) 0;
      font-size: $font-size-xlarge;
      letter-spacing: rem(0.6px);
    }

    &.-small {
      display: block;
      font-family: $font-family-secondary;
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
      letter-spacing: rem(0.3px);
      color: $font-color-9;
      display: block;
      text-align: left;
      margin-top: rem(0px);
      margin-bottom: rem(0px);
      @media screen and (min-width: $screen-s) {
        font-size: $font-size-medium;
      }
    }
  }

  .data {
    @media screen and (min-width: $screen-s) {
      margin-bottom: rem(40px);
    }

    p {
      text-align: center;
      font-family: $font-family-primary;
      color: $color-3;
      font-weight: $font-weight-regular;
      font-size: $font-size-xsmall;
      margin: 0;
      line-height: 1.4;

      @media screen and (min-width: $screen-s) {
        margin: 0;
        font-size: $font-size-xsmall !important;
      }
    }
  }

  .data-numbers {
    margin-top: rem(13px);
    width: 100%;
    @media screen and (min-width: $screen-s) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .data-numbers-text {
      display: block;
      font-family: $font-family-primary;
      line-height: 1.8;
      letter-spacing: rem(0.5px);
      font-weight: $font-weight-regular;
      font-size: $font-size-xxsmall;
      margin-bottom: rem(5px);

      @media screen and (min-width: $screen-s) {
        margin-bottom: rem(0px);
        max-width: 80%;
      }
    }
  }

  .links {
    position: absolute;
    bottom: rem(30px);
    left: 0;
    right: 0;

    @media screen and (min-width: $screen-s) {
      display: flex;
      justify-content: space-between;
      padding: 0 rem(25px);
    }

    a {
      text-transform: uppercase;
      font-family: $font-family-primary;
      font-weight: $font-weight-regular;
      font-size: $font-size-xxsmall;
      display: block;
      text-align: center;
      margin-top: rem(20px);
      letter-spacing: rem(0.6px);

      @media screen and (min-width: $screen-s) {
        font-size: $font-size-xsmall;
        letter-spacing: rem(0.7px);
        color: $font-color-8;
        margin-top: rem(0px);
      }
    }
  }
}

.leaflet-popup {
  @media screen and (min-width: 768px) {
    width: auto;
  }
}

.leaflet-popup-content-wrapper {
  border: 0;
  padding: 0;
}
.leaflet-popup-content {
  padding: 0 !important;
  width: auto !important;
  background-color: transparent;
}

.leaflet-popup-tip {
  border-top-color: transparent;
}

.leaflet-popup-close-button {
  width: rem(15px);
  height: rem(15px);
  margin: rem(15px);
  z-index: 10;
  // background-image: url('../../images/close.svg');
  background-size: 100%;
  background-position: 0;

  @media screen and (min-width: 768px) {
    margin: rem(30px);
  }

  &:hover {
    background-color: transparent;
  }
}

.leaflet-popup-content-wrapper {
  background-color: transparent;
  box-shadow: none;
}

#popup-background{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 26;
  background: #fff;
  opacity: 0.9;
  display: none;
}
