.m-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 20;
  padding: rem(50) rem(17) rem(30);
  transform: translate3d(0) !important;

  color: $font-color-3;
  background-color: $color-2;

  @media screen and (min-width: $screen-m) {
    /* min-width: rem(250); */
    padding: rem(30) rem(50) rem(10) rem(30);
  }


  @media screen and (min-width: $screen-m) {
    position: relative;
    right: auto;
    height: auto;
    /* min-width: rem(250); */
    /* max-width: rem(450); */
    min-height: rem(100);
    //padding: rem(30) rem(40);
    box-shadow: 0 0 5px 0 rgba(40, 40, 42, 0.3);

    &:after {
      content: "";
      @extend %centerx;
      bottom: rem(-10);
      width: 0;
      height: 0;
      border-left: rem(10) solid transparent;
      border-right: rem(10) solid transparent;
      border-top: rem(10) solid $color-2;
    }
  }

  .btn-close {
    @extend %clean-button-or-input;
    width: rem(15);
    height: rem(15);
    position: absolute;
    top: 0;
    right: 0;
    margin: rem(20);

    .icon-close {
      width: 100%;
      height: 100%;
      fill: $color-1;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.leaflet-popup {

  /* min-width: rem(250); */

  @media screen and (min-width: $screen-m) {
    /* min-width: rem(250); */
    width: auto;
  }
}

.leaflet-popup-content-wrapper {
  border: 0;
  padding: 0;
}

.leaflet-popup-content {
  padding: 0 !important;
  width: auto !important;
  background-color: transparent;
}

.leaflet-popup-tip {
  border-top-color: transparent;
}

.leaflet-popup-close-button {
  width: rem(15);
  height: rem(15);
  margin: rem(15);
  z-index: 10;

  // background-image: url('../../images/close.svg');
  background-size: 100%;
  background-position: 0;

  @media screen and (min-width: $screen-m) {
    margin: rem(30);
  }

  &:hover {
    background-color: transparent;
  }
}

.leaflet-popup-tip-container {

}

.leaflet-popup-content-wrapper,
.map-legends,
.map-tooltip {
  background-color: transparent;
  box-shadow: none;
}
