.m-search {
  width: 100%;
  background-color: $white;
  transition: opacity .2s;
  background-color: transparent;
  @media screen and (min-width: $screen-s) {
    width: 50%;
    font-family: $font-family-primary;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
    font-style: italic;
  }

  .js--search-mobile {
    @media screen and (min-width: $screen-m) {
      display: none;
    }
  }

  > .js--search-desktop {
    display: none;

    @media screen and (min-width: $screen-m) {
      display: block;
      cursor: pointer;
    }
  }

  .btn-primary {
    margin-top: rem(80px);
    @media screen and (min-width: $screen-m) {
      display: none;
    }
  }

  input {
    @extend %clean-button-or-input;
    cursor: pointer;
    color: $white;
    border-bottom: 1px solid $color-6;
    @media screen and (min-width: $screen-s) {
      padding-bottom: rem(25px);
    }
  }

  @media screen and (min-width: $screen-s) {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: rem(50px) rem(80px) rem(60px);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: rem(90px);

    input {
      display: block;
      width: 100%;
      height: rem(40px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0;
      font-style: italic;
      text-transform: none;
      line-height: 1.8em;
      font-size: rem(24px);
      font-family: $font-family-primary;
      text-align: left;
      &::-ms-clear {
        display: none;
      }

      @include placeholder() {
        color: $font-color-2;
        font-size: rem(24px);
        text-transform: none;
        text-align: left;
        text-style: italic;
      }
    }

    .search-box.visible {
      border-top: 1px solid $color-3;
      border-left: 1px solid $color-3;
      border-bottom: 1px solid $color-3;
      position: absolute;
      bottom: rem(-10px);
      left: rem(100px);
      right: rem(100px);
      // max-height: rem(500px);
      z-index: 2;
      background-color: $white;
      transform: translatey(100%);
      overflow-y: scroll;
    }

    .search-area {
      width: 100%;
      background-color: $white;
      border-bottom: 1px solid $color-5;
      transition: 0.2s;

      a, &.no-results > span {
        display: inline-block;
        width: 100%;
        padding: rem(20px) rem(90px);
        color: $font-color-1;
        font-size: rem(20px);
      }

      &.highlight {
        background-color: $white;
      }

      span span {
        font-weight: 700;
      }
      &:hover{
        background-color: $color-3;
      }
    }
  }


  @media screen and (min-width: $screen-xl) {
    input {
      height: rem(40px);
    }

    .search-box.visible {
      left: rem(180px);
      right: rem(180px);
    }
  }

}
