.m-site-navigation {
  padding-left: rem(16px);
  padding-right: rem(16px);
  .link {
    > a {
      position: relative;
      font-family: $font-family-primary;
      color: $font-color-2;
      text-transform: uppercase;
    }
  }
  &.-header {
    margin-bottom: rem(40px);
    .is-open & {
      margin-bottom: rem(30px);
    }
    ul {
      height: 100%;
      > .link {
        border-bottom: 1px solid $bg-color-3;
        > a {
          display: block;
          height: 100%;
          font-size: $font-size-xxsmall;
          font-family: $font-family-primary;
          color: $font-color-6;
          text-transform: uppercase;

          @media screen and (min-width: 768) {
            font-size: $font-size-xsmall;
          }
        }
      }
    }
  }
  &.-footer {
    width: 100%;
    max-width: 430px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: rem(450px);
      width: 100%;
      padding: 0 rem(10px);
      li {
        &.-current {
          // pointer-events: none;
          > a {
            &:before {
              content: '';
              position: absolute;
              top: auto;
              left: 0;
              bottom: -15px;
              width: 100%;
              height: 5px;
              background-color: $celeste;
            }
          }
        }
        > a {
          font-size: rem(11px);
          &:hover {
            color: $font-color-2;
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    &.-header {
      width: calc(100% - 100px);
      ul {
        max-width: rem(550px);
      }
    }
    &.-header {
      margin-bottom: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 0;
      align-items: center;
      -ms-align-items: center;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: flex-end;
      &:after {
      }
      ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-items: center;
        max-width: rem(450px);
        width: 90%;
        padding-right: rem(20px);
        > .selected-option-menu {
          &:before {
            display: block;
            content: "";
            width: 100%;
            height: 4px;
            background-color: $color-7;
            position: relative;
            bottom: rem(33px);
            margin-bottom: rem(-4px);
          }
        }
        > .link {
          padding: 0;
          border-bottom: 0;
          &.-current {
            // pointer-events: none;
            > a {
              font-size: $font-size-xsmall;
              letter-spacing: 0.7px;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 5px;
                background-color: $celeste;
              }
            }
          }
          > a {
            font-size: rem(11px);
            font-weight: 400;
            &:hover {
              color: $font-color-3;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $screen-l) {
    &.-header {
      &:after {
        margin-left: rem(67px);
      }

      ul {
        padding-right: rem(70px);
      }
    }
  }
  @media screen and (min-width: $screen-s) {
    padding: 0px;
  }
}
