.m-year-selector {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;

  + .m-year-selector {
    margin-top: rem(10px);

    @media screen and (min-width: $screen-s) {
      margin-top: 0;
      margin-left: rem(20px);
    }
  }

  @media screen and (min-width: $screen-s) {
    max-width: 23.5%;
  }

  @media screen and (min-width: $screen-l) {
    max-width: rem(160px);

    &.-compare {
      max-width: 23.5%;
    }
  }

  .selector-literal {
    display: none;
    margin-right: rem(10px);
    font-size: 11px;

    @media screen and (min-width: 800px) {
      display: inline-block;
    }
  }

  .selector-wrapper {
    @media screen and (min-width: 768px) {
      width: 23.33%;

      .btn-drop-down {
        margin: rem(12px) 6%;
      }
    }
  }
}
