<div class="wrap">
  <div class="selectors-box">
    <div class="c-selector">
      <div class="btn-drop-down">
        <select  id="isoA" name="isoA">
          <option value=""> select country </option>
        </select>
      </div>
    </div>

    <div class="c-selector">
      <div class="btn-drop-down">
        <select  id="isoB" name="isoB">
          <option value=""> select country </option>
        </select>
      </div>
    </div>

    <div class="c-selector">
      <div class="btn-drop-down">
        <select  id="isoC" name="isoC">
          <option value=""> select country </option>
        </select>
      </div>
    </div>
  </div>

  <div class="buttons-box">
    <button class="c-button -primary -small" type="button" id="compare-countries" name="compare-countries"> compare </button>
  </div>
</div>
