<button class="js--toggle-dashboard btn-toogle-dashboard"></button>
<button class="js--toggle-dashboard-mb btn-toogle-dashboard-mobile">explore and select targets</button>
<div class="m-dashboard" id="targets-container">
</div>
