<div class="indicators-wrapper official-indicators">
  <span class="indicator-type">official indicators</span>
  <div class="indicator-wrapper">
    <input type="radio" name="indicator" value="number_of_conflict_deaths" id="number_of_conflict_deaths" class="js--indicator-selector">
    <label for="number_of_conflict_deaths"><h1 class="indicator-title">indicator name</h1></label>
    <button class="js--indicator-info" data-slug="indicator-slug">i</button>
  </div>
</div>

<div class="indicators-wrapper shadow-indicators">
  <span class="indicator-type">shadow indicators</span>
  <div class="indicator-wrapper">
    <input type="radio" name="indicator" value="percentage_of_people_violence" class="js--indicator-selector">
    <label for="percentage_of_people_violence"><h1 class="indicator-title">indicator name</h1></label>
    <button class="js--indicator-info" data-slug="percentage_of_people_violence">i</button>
  </div>
</div>
