<div class="l-legend">
  <div class="m-legend">
    <p>Indicators covered %</p>
    <div class="buckets">
      <span class="text">Available data</span>
      <span class="bucket bucket-1">100</span>
      <span class="bucket bucket-2">75</span>
      <span class="bucket bucket-3">50</span>
      <span class="bucket bucket-4">25</span>
      <span class="bucket bucket-5">0</span>
      <span class="text">Unvailable data</span>
    </div>
  </div>
</div>
