<div class="m-legend">
  <span class="text">Available data</span>
  <span class="bucket -1"></span>
  <span class="bucket -2"></span>
  <span class="bucket -3"></span>
  <span class="bucket -4"></span>
  <span class="bucket -5"></span>
  <span class="text">No available data</span>
</div>
