<div class="m-map-breadcrumbs">
  <p class="c-indicator-name -map-breadcrumbs js--layer-description">this is my layer</p>
  <button class="js--indicator-info btn-info -right" data-slug={{ slug }}>
    <svg class="icon-info">
      <use xlink:href="#icon-info"></use>
    </svg>
  </button>
</div>
