<div class="m-popup">
  <button class="btn-close">
    <svg class="icon icon-close">
      <use xlink:href="#icon-close"></use>
    </svg>
  </button>
  <div class="wrapper">
    <a href="countries/FRA"><h1 class="c-title-popup -small">France</h1></a>
    <div class="data">
      <p>name of the layer you are seeing</p>
      <p>Last data point: 2014</p>
    </div>
    <div class="score c-score-popup">17%</div>
    <div class="links">
      <a href="/countries/?iso=FRA">visit country page > </a>
      <a href="/compare/?isoA=FRA">compare to others > </a>
    </div>
  </div>
</div>
<div id="popup-background"></div>
