{{#each targets}}
  <div class="m-dashboard-target" id="{{this.slug}}">
    <div class="header">
      <button class="js--toggle-target btn-toggle-target" data-slug={{this.slug}}>+</button>
      <h2 class="target-title js--target" data-slug={{this.slug}}>{{this.title}}</h2>
    </div>
    <div class="m-indicators js--indicators"></div>
  </div>
{{/each}}
