<div class="m-dashboard-target">
  <div class="header">
    <button class="js--toggle-target btn-toggle-target">+</button>
    <h2 class="target-title" data-slug="target-slug">Target name</h2>
  </div>

  <div class="indicators-wrapper official-indicators">
    <span class="indicator-type">official indicators</span>
    <div class="indicator-wrapper">
      <input type="radio" name="indicator" value="indicator-slug" id="indicator-slug">
      <label for="indicator-slug"><h1 class="indicator-title">indicator name</h1></label>
      <button class="js--indicator-info" data-slug="indicator-slug">i</button>
    </div>
  </div>

  <div class="indicators-wrapper shadow-indicators">
    <span class="indicator-type">shadow indicators</span>
    <div class="indicator-wrapper">
      <input type="radio" name="indicator" value="indicator-slug">
      <label for="indicator-slug"><h1 class="indicator-title">indicator name</h1></label>
      <button class="js--indicator-info" data-slug="indicator-slug">i</button>
    </div>
  </div>
</div>
