.btn-primary {
  display: block;
  width: 100%;
  padding: rem(15px) rem(50px);
  background-color: $color-5;
  font-family: $font-family-primary;
  font-size: $font-size-xsmall;
  text-align: center;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  letter-spacing: rem(.6px);
  color: $white;
  cursor: pointer;
  transition: 0.1s;
  &:hover {
    background-color: darken($color-5, 10% );
  }
  @media screen and (min-width: $screen-s) {
    font-size: rem(12px);
    letter-spacing: rem(.7px);
    max-width: rem(211px);
  }
  &.-small {
    width: auto;
    padding: rem(15px) rem(45px);
  }
  &.-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin-right: rem(20px);
  margin-top: rem(20px);
  cursor: pointer;
  width: rem(13px);
  height: rem(13px);

  &.-color-1 {
    svg {
      fill: $color-6;
    }
  }
  &.-btn-close-modal{
    color: $font-color-3;
  }
  @media screen and (min-width: 768px) {
    margin: rem(40px) rem(30px) 0 0;
  }
  @media screen and (min-width: $screen-s) {
    position: absolute;
    width: rem(16px);
    height: rem(16px);
  }
}
