.c-download {
  .buttons {
    margin-top: rem(30px);
    > a {
      display: block;
      width: 100%;
      padding: rem(15px) rem(50px);
      background-color: $color-5;
      font-family: $font-family-primary;
      font-size: rem(11px);
      text-align: center;
      font-weight: $font-weight-regular;
      text-transform: uppercase;
      letter-spacing: rem(.6px);
      color: $white;
      cursor: pointer;
      transition: 0.1s;
      margin-top: rem(25px);
      &:hover {
        background-color: darken($color-5, 10% );
      }
        @media screen and (min-width: $screen-s) {
        font-size: $font-size-xsmall;
        letter-spacing: rem(.7px);
        max-width: rem(211px);
        margin-top: rem(0px);
        display: inline-block;
        margin-right: rem(10px);
        &:last-child{
          margin-right: rem(0px);
        }
      }
      @media screen and (min-width: 768px) {
        margin-right: rem(25px);
        &:last-child{
          margin-right: rem(0px);
        }
      }
    }
  }
}
