#google_translate_element {
  position: relative;
  z-index: 10;
  margin-bottom: rem(20px);

  @media screen and (min-width: $screen-l) {
    margin-bottom: 0;
  }
}

.goog-te-gadget-simple {
  // float: right;

  @media screen and (min-width: $screen-m) {
    // margin-right: rem(20px);
  }
}
