.c-indicator-name {
  font-size: rem(13px);
  font-weight: $font-weight-bold;
  color: $deep-black;
  line-height: 1.6;
  letter-spacing: normal;

  @media screen and (min-width: $screen-m) {
    font-size: 14px;
  }

  &.-dashboard {
    color: $font-color-3;
    font-weight: $font-weight-regular;

    cursor: pointer;

    &:hover {
      color: $color-4;
    }
  }

  &.-data {
    max-width: 85%;

    font-size: 13px;
    line-height: 1.7;

    > span {
      color: $font-color-7;
    }

    @media screen and (min-width: $screen-m) {
      font-size: $font-size-normal;
    }
  }

  &.-pop-up {
    // !important rule added because of Leaflet's inheritance
    color: $font-color-1 !important;
  }

  &.-map-breadcrumbs {
    max-width: 90%;
    color: $font-color-1;
    float: left;

    &:hover {
      color: $font-color-1;
    }
  }
}
