.c-score-card {
  padding-bottom: rem(50px);

  > .js--target-info {
    display: flex;
    justify-content: space-between;

    padding-bottom: rem(15px);
    border-bottom: rem(1px) solid rgba($border-2, .7);
    cursor: pointer;
  }

  > .js--target-info > .target-title {
    flex-basis: 70%;

    font-size: $font-size-normal;
    line-height: 1.4;
    color: $font-color-1;

    @media screen and (min-width: $screen-m) {
      flex-basis: 75%;

      font-size: $font-size-medium;
    }
  }

  > .js--target-info > .card-options {
    > .js--toggle-card {
      transform: translate(0, rem(5px));
      cursor: pointer;
    }
  }
}
