.c-score-table {

  > .table-header {
    padding-top: rem(22px);
    @media screen and (min-width: 768px) {
      padding: rem(15px) 0;
    }
  }

  .table-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-bottom: rem(8px);
    border-bottom: rem(1px) dashed $border-3;
    margin-top: rem(16px);
    &:first-child{
      margin-top: 0;
    }
    @media screen and (min-width: $screen-m) {
      justify-content: flex-start;
      padding: rem(20px) 0;
    }
  }

  .table-cell {
    display: inline-flex;

    .only-mobile {
      display: block;

      @media screen and (min-width: $screen-m) {
        display: none;
      }
    }

    &.-score:last-child {
      margin-right: 0;
    }

    &.-category,
    &.-indicator {
      flex-basis: 100%;
      margin-top: rem(16px);

      @media screen and (min-width: $screen-m) {
        flex-basis: 60%;
      }
    }

    &.-category{
      margin-top: 0;
    }

    &.-country,
    &.-score {

      @media screen and (min-width: $screen-m) {
        flex-basis: calc(13.33% - 20px);
        justify-content: flex-end;

        margin: 0 rem(10px);
      }
    }

    &.-category,
    &.-country {
      font-size: $font-size-xxsmall;
      letter-spacing: rem(.5px);
      color: $font-color-7;
      text-transform: uppercase;
    }

    &.-country {
      display: none;

      @media screen and (min-width: $screen-m) {
        display: flex;
        text-align: right;

        &:nth-of-type(2) {
          margin-left: 0;
        }
      }
    }

    &.-indicator {
      flex-direction: column;
    }

    &.-score {
      flex-direction: column;
      margin: rem(6px) rem(10px);

      font-family: $font-family-secondary;
      font-size: rem(22px);
      color: $font-color-3;
      letter-spacing: rem(.2px);
      flex-basis: calc(33.33% - 20px);

      &:nth-of-type(2) {
        margin-left: 0;
      }

      .country-name {
        font-family: $font-family-primary;
        font-size: rem(9px);
        text-transform: uppercase;
        letter-spacing: rem(.5px);
        color: $font-color-7;
      }

      @media screen and (min-width: $screen-m) {
        flex-direction: row;
        flex-basis: calc(13.33% - 20px);
      }
    }
  }
}
