.c-section-title {
  position: relative;
  margin-top: rem(32px);
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  color: $font-color-2;
  line-height: 1.55em;
  text-align: center;
  font-family: $font-family-primary;
  @media screen and (min-width: $screen-s) {
    margin-top: rem(72px);
    font-size: $font-size-xlarge;
  }

  @media screen and (min-width: $screen-s) {

  }

  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: $screen-l) {

  }
}
