.c-target-name {
  flex-basis: 85%;

  font-size: rem($font-size-normal);
  font-weight: $font-weight-semi;
  color: $font-color-1;
  line-height: 1.4;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: rem($font-size-medium);
    line-height: 1.7;
  }

  &.-dashboard {
    flex-basis: initial;

    width: 100%;
    padding: rem(5px);
    margin-left: rem(25px);

    font-size: rem($font-size-xsmall);
    font-weight: $font-weight-regular;
    color: $font-color-3;
    line-height: 1.6;

    &.is-active {
      color: $font-color-1;

      background-color: $color-10;
    }

    // check if this really works, actually it affects
    // every browser, not only IE10
    @media screen and (min-width: $screen-s) {
      max-width: rem(296px); /*IE10 FIX*/
      width: rem(296px); /*IE10 FIX*/

      word-wrap: break-word; /*IE10 FIX*/
      white-space: pre-line; /*IE10 FIX*/
    }

    @media screen and (min-width: 768px) {
      font-size: rem($font-size-small);
      line-height: 1.8;
    }
  }
}
