.c-title-underline {
  font-family: $font-family-secondary;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  color: $font-color-6;
  letter-spacing: rem(.2px);
  line-height: 1.3;
  text-align: center;

  &:after {
    content: "";
    display: block;
    height: rem(3px);
    background-color: $blue-topaz;
    margin: rem(25px) auto rem(20px);
    width: rem(37px);
  }

  &.-mobile {
    text-align: left;

    &:after {
      display: none;
    }
  }

  @media screen and (min-width: $screen-s) {
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
    margin-bottom: rem(50px);

    &:after {
      margin: rem(40px) auto rem(60px);
    }

    &.-mobile {
      text-align: center;

      &:after {
        display: block;
      }
    }
  }
}
