.c-target-name {
  max-width: 85%;
  font-family: $font-family-title;
  font-size: rem($font-size-normal);
  font-weight: $font-weight-bold;
  color: $font-color-1;
  line-height: (23px);

  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: rem(24px);
    line-height: rem(32px);
  }

  .color-code {
    color: $fountain-blue;
    margin-right: .5rem;
  }
}
