.c-selector {
  width: 310px;

  > .btn-drop-down {
    position: relative;
    font-size: rem(16px);
    line-height: rem(16px) !important;
    width: 100%;
    height: rem(45px);
    padding: 0 rem(6px) 0 rem(15px);
    border: 1px solid $color-4;

    @media screen and (min-width: $screen-m) {
      height: rem(45px);
      font-size: rem(11px);
      line-height: rem(11px) !important;
      padding: 0 rem(12px);
    }
  }

  > .btn-drop-down select {
    padding: 0;
    padding-right: 15%;
    width: 100%;
    height: rem(45px);
    text-transform: uppercase;

    &.-disabled {
      opacity: .5;
      pointer-events: none;
    }

    @media screen and (min-width: $screen-m) {
      padding-right: 5%;
    }
  }
}
