<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}

    <div class="l-main-container">
      {% include header.html %}

      <div class="l-banner -section-2 -about -topsection-about">

        {% include breadcrumbs.html %}

        <div class="wrap">
          <h1 class="c-section-title -light">{{ page.title }}</h1>
          <p class="text text-banner-m">Quisque eu odio vitae leo aliquet fermentum in sit amet quam. Morbi dapibus nibh et congue convallis. Nulla malesuada leo et volutpat rhoncus. Aliquam sagittis rhoncus tellus quis placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
        </div>
      </div>

      <div id="content"></div>

      {% include modules/compare_module.html %}

      <div class="l-highlight -crosseling-about">
        <div class="wrap">
          <div class="m-highlight">
            <h2 class="c-block-title text-big-title">
              <!--{{ page.crosseling-module-title }}-->
              About this project
            </h2>
            <p class="-highlighted text-banner-m">
              <!--{{ page.crosseling-module-text }}-->
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a orci ut ante varius rutrum. Cras aliquet pulvinar feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis, metus eget bibendum consectetur, quam odio elementum urna, vel eleifend ligula leo at lacus. Maecenas malesuada, magna vel rhoncus consectetur, erat nunc vulputate arcu, a efficitur mauris ligula ac leo. Sed vitae ex suscipit libero efficitur dictum. Pellentesque ac efficitur nibh. Aenean et vulputate nisi.
            </p>
            <a href="{{ site.baseurl }}/about" class="c-button -primary">find out more</a>
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div>
    <script>
      var SITEURL = '{{ site.baseurl }}' || null;
    </script>
    <script src="{{ site.baseurl }}/js/main_bundle.js"></script>
  </body>

</html>
