<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}

    <div class="l-main-container">
      {% include header.html %}

      <div class="l-banner -section-2 -about -topsection-data">

        {% include breadcrumbs.html %}

        <div class="wrap">
          <h1 class="c-section-title -light">{{ page.title }}</h1>
        </div>
      </div>

      <div class="l-content -main" id="content">
        <div class="wrap">
          <div class="m-static-content">
            {{ content }}
          </div>
        </div>
      </div>

      {% include modules/compare_module.html %}

      <div class="l-highlight -crosseling-about">
        <div class="wrap">
          <div class="m-highlight">
            <h2 class="c-block-title text-big-title">
              <!--{{ page.crosseling-module-title }}-->
              About this project
            </h2>
            <p class="-highlighted text-banner-m">
              <!--{{ page.crosseling-module-text }}-->
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a orci ut ante varius rutrum. Cras aliquet pulvinar feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis, metus eget bibendum consectetur, quam odio elementum urna, vel eleifend ligula leo at lacus. Maecenas malesuada, magna vel rhoncus consectetur, erat nunc vulputate arcu, a efficitur mauris ligula ac leo. Sed vitae ex suscipit libero efficitur dictum. Pellentesque ac efficitur nibh. Aenean et vulputate nisi.
            </p>
            <a href="{{ site.baseurl }}/about" class="c-button -primary">find out more</a>
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div>
    <script>
      var SITEURL = '{{ site.baseurl }}' || null;
    </script>
    <script src="{{ site.baseurl }}/js/main_bundle.js"></script>
  </body>

</html>
