<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}

    <div class="l-main-container">
      {% include header.html %}

      {% include breadcrumbs.html %}

      <div class="l-banner -section-2 -about -topsection-data">

        <div class="wrap">
          <h1 class="c-section-title -light">{{ page.title }}</h1>
        </div>
      </div>

      <div class="l-content -data -main">
        <div class="wrap">
          <div class="m-static-content">
            {{ content }}
          </div>
        </div>
      </div>

      <div id="content"></div>

      {% include modules/compare_module.html %}

      <!-- <div class="l-highlight -crosseling-about">
        <div class="wrap">
          <div class="m-highlight">
            <h2 class="c-block-title text-big-title">
              {{ page.crosseling-module-title }}
            </h2>
            <p class="-highlighted text-banner-m">
              {{ page.crosseling-module-text }}
            </p>
            <a href="{{ site.baseurl }}/about" class="c-button -primary">find out more</a>
          </div>
        </div>
      </div> -->

      {% include footer.html %}
    </div>
    <script>
      var SITEURL = '{{ site.baseurl }}' || null;
    </script>
    <script src="{{ site.baseurl }}/js/main_bundle.js"></script>
  </body>

</html>
