<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}

    <div class="l-main-container">
      {% include header.html %}

      <div class="l-banner -section-2 -about -ocean-reports">

        <!-- {% include breadcrumbs.html %} -->

        <div class="wrap -ocean-wrap">
          <h1 class="c-section-title -ocean-section-title -light">{{ page.title }}</h1>
        </div>
      </div>

      Reports page here

      {% include footer.html %}
    </div>
    <script>
      var SITEURL = '{{ site.baseurl }}' || null;
    </script>
    <script src="{{ site.baseurl }}/js/main_bundle.js"></script>
  </body>

</html>
