<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- <img src="{{ site.baseurl }}/img/fullscreenbg.jpg" class="img_bg"> -->
    <div id="welcome-container" class="l-welcome">
      <div class="welcome-content">
        <h1 class="text-heading-underline">
          <img src="{{ site.baseurl }}/img/logo/goal16_logo_ver_neg.svg" alt="logo Goal16">
        </h1>
        <p class="text text-banner-l">The SDG16 Data Initiative </p>
        <p class="text text-banner-m">The 17 Sustainable Development Goals (SDGs) were adopted unanimously by the 193 member states of the United Nations in September 2015. They define the world’s new development agenda for the next 15 years and set ambitious quantitative goals to be achieved in every country.</p>
        <p class="text text-banner-title-s">Among these goals is SDG16, which commits all countries to:</p>
        <p class="text text-banner-s"><b>“Promote peaceful and inclusive societies for sustainable development, provide access to justice for all and build effective, accountable and inclusive institutions at all levels”</b></p>
        <p class="text text-banner-s">Achieving Goal 16 - and all 17 SDGs - will require unprecedented problem solving and mobilization of governments, businesses, and civil society. The SDG16 Data Initiative is a collective project by leading non-governmental organizations to compile existing global data that can help track progress towards the achievement of SDG16. The recommended UN official indicators along with proposed complementary indicators are listed for each target. We have included a variety of of respected data providers and sought to highlight gaps  and useful alternative data sources in SDG16 target areas.
Explore, compare and share!
</p>
        <p class="text text-banner-s -italic">This is a beta version of our website - please consider it work in progress!</p>
        <div class="link-container">
          <a href="{{ site.baseurl }}/map" class="c-button -primary">get started</a>
        </div>
      </div>
    </div>

    <script>
      var SITEURL = '{{ site.baseurl }}' || null;
    </script>
    <script src="js/main_bundle.js"></script>
  </body>

</html>
