<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}

    <div class="l-main-containe">
      <div id="welcome-container" class="l-welcome">

        <div class="layer-welcome">
          <!--<h1>GOAL<span>16</span></h1>-->
          <h1 class="text-heading-underline"><img src="{{ site.baseurl }}/img/logo/goal16_logo_white.svg" alt="logo Goal16"></h1>
          <p class="text text-banner-l">The SDG16 Data Initiative </p>
          <p class="text text-banner-m">“Promote peaceful and inclusive societies for sustainable development, provide access to justice for all and build effective, accountable and inclusive institutions at all levels”</p>
          <!-- <p class="text text-banner-title-s">targets</p> -->
          <p class="text text-banner-s">The SDG16 Data Initiative is a collective project to gather and curate existing global data to track Sustainable Development Goal (SDG) 16. We draw on a multitude of data sources to track progress towards achieving SDG16. </p>
          <p class="text text-banner-s"><i>This is a beta version of our website - please consider it work in progress!</i></p>
          <a href="{{ site.baseurl }}/map" class="c-button -primary">get started</a>
        </div>

      </div>

    </div>
    <script>
      var SITEURL = '{{ site.baseurl }}' || null;
    </script>
    <script src="js/main_bundle.js"></script>
  </body>

</html>
