.l-about-menu {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: $fountain-blue;
  position: sticky;
  top: 0;
  z-index: 1;
  height: rem(70px);

  @media screen and (min-width: 768px) {
    display: flex;
  }

  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    max-width: 80%;
    margin: 0 auto;

    // max-width: 100%;
    // margin: 0 auto;

    // @media screen and (min-width: $screen-s) {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   max-width: rem(736px);
    // }

    // @media screen and (min-width: $screen-xl) {
    //   max-width: $content-width;
    // }
  }

  li {
    display: flex;
    height: 100%;
    margin: 0 15px;
    // float: left;

    @media screen and (min-width: 768px) {
      // & + li {
        //   // margin: 0;
        //   margin-left: rem(20px);
        // }
      }

      button {
        color: rgba($white, 0.5);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
        position: relative;

      &.active {
        color: rgba($white, 1);

        &:after {
          content: "";
          width: 110%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          height: 4px;
          background-color: $white;
        }
      }
    }
  }
}

.m-about-menu {
  display: flex;
  align-items: center;
  // justify-content: center;
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 1;
  height: rem(80px);

  @media screen and (min-width: $screen-m) {
    display: none;
  }
}

#partners {
  .c-title-underline {
    text-align: left;
  }
}
