$backgrounds: 'promoHome', 'topsection-country', 'topsection-countries', 'topsection-compare', 'topsection-data', 'topsection-about', 'promoInteriores-Blog';
$regions: 'africa', 'americas', 'asia', 'europe', 'oceania';
$bannerOcean: 'ocean-news', 'ocean-events', 'ocean-reports';
$oceanShades: '#57BAB0', '#176875', '#20ADC5';

.l-banner {
  position: relative;
  padding-top: rem(24px);
  padding-bottom: rem(67px);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(14, 29, 42, .5);
  }

  @media screen and (min-width: 768px) {
    padding-top: rem(40px);
    padding-bottom: rem(112px);
  }

  @for $i from 1 through length($backgrounds) {
    &.-#{nth($backgrounds, $i)} {
      background-image: url('#{$baseUrl}/img/cover-pages/#{nth($backgrounds, $i)}.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  @for $i from 1 through length($bannerOcean) {
    &.-#{nth($bannerOcean, $i)} {
      background-color: #{nth($oceanShades, $i)};
      background-image: url('#{$baseUrl}/img/cover-pages/bg_lines.svg');
      background-repeat: no-repeat;
      background-position: top left;
      height: rem(140px);
      padding-top: 0;
      padding-bottom: 0;

      @media screen and (min-width: 768px) {
        height: rem(200px);
      }

      &:before {
        background-color: transparent;
      }

    }
  }

  &.-topsection-countries {
    padding-top: rem(24px);
    padding-bottom: rem(88px);

    @for $region from 1 through length($regions) {
      &.-#{nth($regions, $region)} {
        background-image: url('#{$baseUrl}/img/cover-pages/regions/#{nth($regions, $region)}.jpg');
      }
    }

    @media screen and (min-width: $screen-s) {
      padding-top: rem(40px);
      padding-bottom: rem(74px);
    }
  }

  .title-container {
    width: 100%;
  }

  .text-banner-m {
    margin:rem(21px) auto 0;

    @media screen and (min-width: 768px) {
      margin:rem(33px) auto 0;
    }
  }

  &.-section-3 {
    .details {
      position: absolute;
      bottom: rem(40px);
      left: 0;
      right: 0;
      text-align: center;

      font-size: rem(12px);
      color: $font-color-2;
    }
  }
}
