$backgrounds: 'promoHome', 'topsection-country', 'topsection-countries', 'topsection-compare', 'topsection-data', 'topsection-about';

.l-banner {
  position: relative;
  padding-top: rem(24px);
  padding-bottom: rem(67px);

  &.-topsection-countries{
    padding-top: rem(24px);
    padding-bottom: rem(116px);

    @media screen and (min-width: $screen-s) {
      padding-top: rem(40px);
      padding-bottom: rem(133px);
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: rem(40px);
    padding-bottom: rem(112px);
  }

  @for $i from 1 through length($backgrounds) {
    &.-#{nth($backgrounds, $i)} {
      background-image: url('#{$baseUrl}/img/cover-pages/#{nth($backgrounds, $i)}.jpg');
      background-size: cover;
      background-position: center;
    }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(14, 29, 42, .4);
      }
    }

  .title-container {
    width: 100%;
  }
  .text-banner-m{
    margin:rem(21px) auto;
    margin-bottom: rem(0px);

    @media screen and (min-width: 768px) {
      margin:rem(33px) auto;
      margin-bottom: rem(0px);
    }
  }
}
