.l-blog {
  @extend %l-main-container;
  border-left: 0;
  border-right: 0;

  .blog-filter {
    display: none;

    &.-active {
      display: block;
    }
  }
}


.l-post {
  &.-list {
    border-bottom: rem(1px) solid #e5eaea;
  }
}
