.l-content {
  //Countries list
  padding: rem(14px) 0;


  @media screen and (min-width: $screen-l) {
    padding: rem(95px) 0 rem(120px);
  }

  @media screen and (min-width: $screen-xl) {
    padding: rem(120px) 0;
  }

  .btn.-secondary {
    margin-top: rem(30px);
  }

  &:nth-child(2n + 1) {
    background-color: $white;
  }

  &.-main {
    padding-top: rem(34px);

    @media screen and (min-width: $screen-s) {
      padding-top: rem(70px);
    }

    @media screen and (min-width: 768px) {}
  }

  &.-fullscreen {
    padding: 0;
    background-color: transparent;
  }

  &.-compare {
    .wrap {
      padding: 0 rem(10px);

      @media screen and (min-width: $screen-l) {
        padding: 0 rem($wrap-padding-desktop);
      }

      @media screen and (min-width: $screen-xl) {
        padding: 0 rem($wrap-padding-desktop-xl);
      }
    }
  }

  &.-fixed {
    margin-top: rem(70px);
  }

  &.-countries {
    border-bottom: rem(1px) solid $color-9;
    padding-top: rem(15px);
    padding-bottom: rem(28px);

    @media screen and (min-width: $screen-s) {
      padding-top: rem(96px);
      padding-bottom: rem(90px);

      &:last-child {
        margin-bottom: rem(95px);
      }
    }
  }
}
