$footer-desktop-height: rem(91px);
$footer-height: rem(375px);
.l-footer {
  background-color: $color-6;
  .wrap {
    padding: 0 !important;
  }
  .menus-wrapper {
    height: rem(91px);
    background-color: $color-7;
    display: flex;
    align-items: center;
    -ms-align-items: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
  }
  .footer-info {
    padding-right: $wrap-padding-mobile;
    padding-left: $wrap-padding-mobile;
    border-bottom: 1px solid $color-3;
    padding-bottom: rem(45px);
    @media screen and (min-width: $screen-s) {
      padding: 0;
      padding-bottom: rem(45px);
      margin-bottom: rem(35px);
    }
    .text-creative-license {
      text-align: center;
      margin-top: rem(35px);
      @media screen and (min-width: $screen-s) {
        margin-top: rem(37px);
        display: flex;
        justify-content: center;
      }
      img {
        position: relative;
        display: block;
        margin: rem(5px) auto;
        width: rem(55px);
        top: 0;
        @media screen and (min-width: $screen-s) {
          left: rem(12px);
          margin: 0;
          top: 4px;
        }
      }
    }
    .text-info-vizzuality {
      text-align: center;
      margin-top: rem(27px);
      display: flex;
      justify-content: center;
      @media screen and (min-width: $screen-s) {
        margin-top: rem(16px);
      }
      .footer-logo-vizzuality{
        width: rem(80px);
        height: rem(26px);
        position: relative;
        left: rem(6px);
        @media screen and (min-width: $screen-s) {
          width: rem(80px);
          height: rem(30px);
          left: rem(10px);
        }
      }
    }
    .footer-logo-goal {
      margin: rem(25px) auto;
      width: rem(100px);
      display: block;
      margin-bottom: rem(40px);
      @media screen and (min-width: $screen-s) {
        margin: rem(50px) auto;
        width: rem(120px);
        margin-bottom: rem(70px);
      }
    }
  }

  .footer-info-second{
    text-align: center;
    padding-right: $wrap-padding-mobile;
    padding-left: $wrap-padding-mobile;
    padding-bottom: rem(40px);
    @media screen and (min-width: $screen-s) {
      padding: 0;
    }
  }
}
