.l-legend {
  position: absolute;
  bottom: rem(80px);
  left: rem($wrap-padding-mobile);
  right: rem($wrap-padding-mobile);
  z-index: 1;
  background-color: rgba($white, .8);
  padding: rem(6px) rem(6px) rem(30px);

  &.-up {
    bottom: rem(95px);
  }

  @media screen and (min-width: 768px) {
    right: rem(30px);
    bottom: rem(40px);
    left: $dashboard-width + 35px;
    transition: .2s ease;

    .is-dashboard-close & {
      left: rem(30px);
    }
  }

  @media screen and (min-width: $screen-l) {
    padding: rem(6px) rem(6px) rem(10px);
  }
}
