%l-main-container {
  max-width: $grid-max-width;
  width: 100%;
  margin: 0 auto;

  background-color: $white;

  @media screen and (min-width: $screen-xl) {
    border-left: rem(1px) solid $light-grey;
    border-right: rem(1px) solid $light-grey;
  }
}

.l-main-container {
  @extend %l-main-container;

  .is-dashboard-close & {
    margin-top: $header-height;
  }

  &.is-map{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-right: 0px;
    border-left: 0px;
    max-width: 100%;
    border-bottom: rem(1px) solid $light-grey;
  }
}
