.l-map {
  position: absolute;
  top: $header-height;
  left: 0;
  bottom: 0;
  right: 0;

  @media screen and (min-width: 768px) {
    top: $header-height-desktop;
    left: $dashboard-width;
    transition: .2s ease;

    .is-dashboard-close & {
      left: 0;
    }
  }

  @media screen and (min-width: $screen-l) {
    top:$header-height-desktop;
  }
}
