.l-target-card {
  padding: rem(50px) 0;
  border-bottom: rem(1px) solid rgba($border-3, .7);

  &:nth-child(odd) {
    background-color: $bg-color-1;
  }

  .target-title {
    margin: 0px;
    width: 100%;
    margin-bottom: rem(20px);
    @media screen and (min-width: 768px) {
      width: 60%;
      margin: 0 auto rem(30px);
    }
  }

  .target-title > h2 {
    font-family: $font-family-secondary;
    font-size: rem(27px);
    font-weight: $font-weight-regular;
    line-height: 1.4;
    letter-spacing: rem(.3px);
    text-align: left;
    color: $font-color-8;
    @media screen and (min-width: 768px) {
      text-align: center;
    }
  }

  .card-container {
    display: none;
    @media screen and (min-width: 768px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: rem(50px) 0 rem(30px);
  }
}
