.l-welcome {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('#{$baseUrl}/img/fullscreenbg.jpg');
  z-index: 9999999999;

  @media screen and (min-width: $screen-s) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
  }
  &:after{
    content: '';
  }
  // veil
  &:before {
    content: '';

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $bg-veil;
  }


  .welcome-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    z-index: 1;
    padding: rem(35px) rem(17px);

    h2{
      color: $font-color-2;
      font-family: $font-family-secondary;
      font-size: $font-size-normal;
      font-weight: $font-weight-regular;
      line-height: 1.36;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-bottom: rem(32px);
      @media screen and (min-width: 768px) {
        font-size: $font-size-large;
        width: rem(736px);
        letter-spacing: 0.3px;
        margin-bottom: rem(22px);
      }
    }

    p{
      color: $font-color-2;
      font-family: $font-family-primary;
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      line-height: 1.79;
      width: 100%;
      display: block;
      text-align: center;
      margin: rem(22px) auto;
      @media screen and (min-width: 768px) {
        width: rem(736px);
        line-height: 1.75;
        font-size: $font-size-normal;
        margin-top: rem(16px);
      }
      &.-advise{
        margin-top: rem(32px);
        font-style: italic;
        font-size: $font-size-xsmall;
      }
    }

    // padding: rem(45px) $wrap-padding-mobile rem(20px);

    @media screen and (min-width: $screen-s) {
      padding: rem(35px) rem(17px);
    }

    @media screen and (min-width: 768px) {
      padding: rem(35px) 0;
    }

    @media screen and (min-width: $screen-l) {
      padding: rem(35px) 0;
    }

    .text-heading-underline > img{
      display: block;
      width: rem(150px);
      margin: 0 auto;

      @media screen and (min-width: $screen-s) {
        width: rem(200px);
      }
    }

    .link-container {
      margin-top: rem(30px);

      @media screen and (min-width: $screen-s) {
        display: flex;
        justify-content: center;
        margin-top: rem(32px);
      }
    }
  }
}

// .img_bg {
//   /* Set rules to fill background */
//   min-height: 100%;
//   min-width: 1024px;
//
//   /* Set up proportionate scaling */
//   width: 100%;
//   height: auto;
//
//   /* Set up positioning */
//   position: fixed;
//   top: 0;
//   left: 0;
// }
//
// @media screen and (max-width: 1024px) { /* Specific to this particular image */
//   .img_bg {
//     left: 50%;
//     margin-left: -512px;   /* 50% */
//   }
// }
