select {
  @extend %clean-button-or-input;
  color: $font-color-3;
  font-family: $font-family-primary;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

/*
 * Reset chosen. Just in case you are using
 * chosen.js.
 */

$dropdownOcean: 'ocean-news', 'ocean-events', 'ocean-reports'; // Change back to ocean-news later
$oceanShades: $fountain-blue, $dark-aqua, $ball-blue;


.chzn-container-single .chzn-single {
  // color: blue;
  background-image: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 11px;
  font-weight: 700;
  height: auto;
  font-family: $font-family-primary;
  color: $dark-aqua;
  // padding: 0 0 0 15px;

  @for $i from 1 through length($dropdownOcean) {
    &.-#{nth($dropdownOcean, $i)} {
      color: #{nth($oceanShades, $i)};
      // background-image: url('#{$baseUrl}/img/cover-pages/bg_lines.svg');
    }
  }
}

.chzn-container-single .chzn-drop {
  padding: 0 0 10px 0;
  border: none;
  border-radius: 0;
  background-color: $white;
  font-family: $font-family-primary;
  width: 101.4% !important;
  transform: translate(-0.15%, 0.9%);

  @media screen and (min-width: $screen-m) {
    width: 109% !important;
    transform: translate(-4.2%, 1%);
  }
}

.chzn-container-single .chzn-single span {
  white-space: normal;
}

.chzn-container {
  width: 100% !important;
  height: 100%;
}

.chzn-container-single .chzn-single {
  display: flex;
  align-items: center;
  height: 100%;

  line-height: 28px;
}

.chzn-container-single .chzn-search {
  padding: 10px 5%;
}

.chzn-container-single .chzn-search input {
  width: 100% !important;
  padding: 8px 30px 8px 5px;
  border-color: $bg-color-3;
  color: $font-color-5;
  background: url('#{$baseUrl}/img/miscellaneous/search.svg') no-repeat  95% 50%;
  background-size: 15px 15px;
}

.chzn-container .chzn-results {
  margin: 0;
  padding: 0;
}

.chzn-container .chzn-results .active-result {
  font-family: $font-family-primary;
  color: rgba($deep-black, 0.8);
  padding: 0.5rem 1rem;
  font-size: rem(12px);
  text-transform: uppercase;

  &.result-selected {
    background: none;
    font-weight: 700;
    background-color: rgba(190, 183, 170, .2);
  }

  &.highlighted {
    // color: $font-color-hover;
    font-weight: 700;
    // text-decoration: underline;
    background: none;
  }
}

.chzn-container .chzn-results .no-results {
  background: transparent;
  color: $font-color-3;

  &:hover {
    color: $font-color-3;
  }

  span {
    color: $font-color-3;
  }
}



.chzn-container-single .chzn-single span {
  font-family: $font-family-primary;
  // color: $font-color-5;
  text-transform: uppercase;
  line-height: 1.2em;


}

#aboutSelector {
  .chzn-container-single .chzn-drop {
    border-bottom: 1px solid $dark-aqua;
    border-left: 1px solid $dark-aqua;
    border-right: 1px solid $dark-aqua;
  }

  .chzn-container .chzn-results .active-result {
    color: $dark-aqua;
  }

  &.btn-drop-down:after {
    @include arrow (5px, $dark-aqua, 2px, 225deg);
  }
}
