.text {
  font-family: $font-family-primary;
  &.-white {
    color: $font-color-2;
  }
  &.-black {
    color: $font-color-6;
  }
  &.-primary {
    color: $font-color-3;
  }
}
.text-banner-title-s {
  color: $font-color-2;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-regular;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}
.text-banner-title-xl {
  color: $font-color-2;
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  line-height: 1.3;
  text-transform: capitalize;
  text-align: center;
  @media screen and (min-width: $screen-s) {
    font-size: $font-size-xlarge;
    line-height: 1.55;
  }
}
.text-banner-l {
  color: $font-color-2;
  font-family: $font-family-secondary;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  line-height: 1.36;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: $font-size-large;
    letter-spacing: 0.3px;
  }
}
.text-banner-m {
  color: $font-color-2;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  line-height: 1.92;
  width: 100%;
  display: block;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 736px;
    font-size: $font-size-medium;
    line-height: 1.68;
  }
}
.text-banner-s {
  color: $font-color-2;
  font-family: $font-family-primary;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  line-height: 1.79;
  width: 100%;
  display: block;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: rem(736px);
    line-height: 1.75;
    font-size: $font-size-normal;
  }
}
.text-heading-underline {
  &:after {
    content: "";
    display: block;
    height: rem(3px);
    background-color: $blue-topaz;
    margin: rem(40px) auto;
    width: rem(37px);
  }
}
