<div class="m-targets-table">
  <div id="targets-container" class="wrapper">

    <div class="m-table-target" id="{{slug}}">
      <div class="header">
        <h2>target name</h2>
      </div>
      <div class="m-table-indicators js--indicators">

        <div class="table-indicator">
          <div class="header">
            <h1>Indicator name <span>(indicator type)</span></h1>
          </div>
          <div class="indicator-info">
            <p>info for the indicator</p>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</div>
