{{#each indicator}}
<div class="m-table-indicator">
  <div class="header">
    <h1>Indicator name <span>(indicator type)</span></h1>
  </div>
  <div class="indicator-info">
    <p>info for the indicator Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi enim blanditiis quaerat, accusantium, aperiam consequatur, magni fugiat nostrum similique nemo laboriosam a maiores iusto modi sed fuga amet tempore laborum?</p>
  </div>
</div>
{{/each}}
