<div class="l-post -list {% unless post.image == '' %} -img {% endunless %}" {% unless post.image == '' %} style="background-image:url({{site.baseurl}}/img/blog/{{post.image}})" {% endunless %} >
  <div class="wrap">

    <div class="m-post {% unless post.image == '' %} -light {% endunless %}">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="details">
          <span class="date">
            <time>{{ post.date | date: '%d %b, %Y'}}</time>
          </span>
          <span class="author">
            {{ post.author }}
          </span>
        </div>

        <div>
          <h3 class="c-title-underline">
            {{ post.title }}
          </h3>
        </div>

        <div class="content">
          {{post.excerpt}}
        </div>
      </a>
    </div>

  </div>

</div>
