<div class="m-post m-markdown">

  {% unless page.image == '' %}
  <div class="image" style="background-image:url({{site.baseurl}}/img/blog/{{page.image}})"></div>
  {%endunless%}

  <!-- <div class="properties">
    {% unless page.category == nil %}
    <a class="category" href="{{site.baseurl}}/blog/categories#{{ page.category }}"> {{page.category}} </a>
    {%endunless%}
    {% unless page.tags == empty %}
    <div class="tags">
      {% for tag in page.tags %}
        <a class="c-tag" href="{{ site.baseurl }}/blog/tags#{{tag | downcase}}">#{{tag}}</a>
      {% endfor %}
    </div>
    {%endunless%}
  </div> -->

  <div class="content">
    {{ content }}
  </div>

</div>
