<div id="infowindow-base">
  <div class="m-modal-window -disclaimer">
    <div class="modal-wrapper">
      <div class="btn-close-modal close-icon"><svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg></div>
      <div class="modal-container">
        <div id="modal-content" class="modal-content">
          <h3 class="c-title-underline -left">Get started</h3>
          {{#if isMobile}}
            <p>Click on the “Explore and select the targets” button below to see which countries have data over the map</p>
          {{else}}
            <p>Click on a target or an indicator to the left side to see which countries have data over the map</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
