<div class="c-download">
  <div class="tabs-content content">
    <div class="content active" id="share-link">
      <p>Click into the link below to start your download</p>
    </div>
  </div>

  <div class="buttons">
    <a href="{{csv}}" class="btn -secondary js--download-btn" download="data.csv">download</a>
    <a href="" class="btn js--cancel-btn">cancel</a>
  </div>
</div>
