{{#if isBase}}
  <div id="infowindow-base">
    <div class="m-modal-window">
      <div class="modal-wrapper">
        <div class="btn-close-modal close-icon"><svg class="icon icon-close"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use></svg></div>
        <div class="modal-container">
          <div id="modal-content" class="modal-content">
            {{{content}}}
          </div>
        </div>
      </div>
      <div class="modal-background"></div>
    </div>
  </div>
{{/if}}

{{#if isIndicator}}
  <div id="info-infowindow">
    <div class="-indicator">
      <h2 class="indicator-name">Indicator name</h2>
      <div class="info-wrapper">
      </div>
      <p>description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis optio, pariatur natus, molestias atque assumenda accusantium, tempore ab, sunt asperiores neque corrupti perferendis sit non laudantium quo fugiat? Officiis, quibusdam.</p>
    </div>
  </div>
{{/if}}
