<div class="m-share-window">
  <h2>Share</h2>
  <div class="share-toolbar">
    <!-- share -->
    <button class="c-button js--share ">
      <!-- <svg class="icon -regular">
        <use xlink:href="#icon-share"></use>
      </svg> -->
      share
    </button>

    <!-- download -->
    <button class="c-button -secondary js--download">
      <!-- <svg class="icon -regular">
        <use xlink:href="#icon-download"></use>
      </svg> -->
      download data
    </button>

    <!-- print -->
    <button class="c-button -secondary js--print">
      <!-- <svg class="icon -regular">
        <use xlink:href="#icon-print"></use>
      </svg> -->
      print
    </button>
  </div>
  <div id="toolbar-content"></div>
</div>
