<div class="m-share-window">
  <h2 class="title">Share</h2>
  <div class="share-toolbar">
    <!-- share -->
    <button class="c-button js--share ">
      share
    </button>

    <!-- download -->
    <button class="c-button -secondary js--download">
      download data
    </button>

    <!-- print -->
    <button class="c-button -secondary js--print">
      print
    </button>
  </div>
  <div id="toolbar-content"></div>
</div>
