<div class="wrap">
  <div class="share-this-text">
    Share this
  </div>
  <a class="" href="https://twitter.com/share?url={{link}}" target="_blank">
    <div class="twitter-btn" ></div>
  </a>
  <div class="share-btn" data-url="{{link}}" id="copy_url"></div>
</div>
